#body {
    background-color: rgb(0,123,198);
    margin: 0%;
    width: 100%;
}
#pessoal{
    text-align: center ;
    height: 100vh;
    background-color:#222831;
    padding-top: 20px;
    margin: 30;
}
#pessoal img{
    border-radius: 50% ;
    width: 150px;   
}
#pessoal h1{
    color: rgb(0,123,198);
}
#pessoal h2{
    color: #f7f7f7;
}
#exp{
    background-color: #393e46;
    width: 100%;  
}