* {
  margin: 0;
  padding: 0;
  border: 0;
}

.Container Video {
  width: 100%;
}

.header {
  position: absolute;
  top: 0;
  color: #f1f1f1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 12%;
  display: flex;
  align-items: center;
}

.header img {
  width: 60px;
  height: 60px;
  margin-left: 10px;
}

.header .actions {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.header .actions button {
  height: 50px;
  width: 160px;
  margin-right: 2%;
  padding: 0px 10px 0px 10px;
  display: inline-block;
  align-items: center;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
button {
  font-weight: bold;
  color: #f1f1f1;
  border: #f1f1f1 1px solid;
  padding: 10px 5px;
  background-color: hsla(0, 0%, 0%, 0);
  font-size: 1.25rem;
  border-radius: 5px;
}

.Content {
  position: absolute;
  top: 0;
  margin-top: 6.8%;
  color: #f1f1f1;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 88%;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
}

.SubContent {
  display: block;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.SubContent p {
  color: #eeeeeead;
  font-size: 1.3rem;
}
.SubContent button {
  margin-top: 30px;
}

.SubContent button:hover {
  background-color: #f1f1f1;
  color: #000000c0;
}

.SubContent img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  border: #f1f1f1 1px transparent;
}
#aboutMe {
  position: absolute;
  background-color: #bbbb;
  width: 100%;
  height: 100%;
}
.next {
  margin-top: 17px;
}
